.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .3s;
  padding: 10px 30px;
}

.btn-primary.btn-outline {
  color: $brand-primary;
  font-size: 20px;
  font-weight: normal;
}


.btn-primary.btn-outline:hover {
  color: #fff;
}
