// import fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #002b45;

$roboto:                'Roboto', sans-serif;
