@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
  line-height: 170%;
  font-size: 16px;
  font-weight: normal;
  font-family: $roboto;
  background-color: #fff;
}

.main {
  padding: 0;
  margin: 30px 0 25px;
}

.main-front-page {
  padding: 35px 15px;
	margin: 25px 0;
}

.kontakt {

  .main {
    margin: 50px 0;
  }
}

.page-title {
  background-color: $brand-primary;

  .page-header {
    border: none;
    margin: 0;
    padding: 0;

    h1 {
      font-size: 20px;
      color: #fff;
      margin: 10px 0;
      padding: 0;
      font-weight: lighter;
    }
  }
}

.h2, h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px 5px;
}


// front page banner custom field
.banner-front-page {
  text-align: center;
  background-color: $brand-primary;
  padding: 35px 0;

  h1 {
    color: #fff;
    margin: 0;
    font-weight: 300;
    font-size: 36px;
  }
}

h1 {
  color: #002b45;
  font-weight: normal;
  font-size: 26px;
}

p {
  font-size: 17px;
  color: #666;
  font-weight: 300;
}

.text-intro {

  h1 {
    font-size: 35px;
  }

  h3 {
    color: #666666;
    font-size: 22px;
    font-weight: lighter;
  }

  hr {
    border-top: 1px solid #d1d1d1;
    width: 200px;
    margin-top: 50px;
  }
}


.text-narrow {
  padding: 0 100px;
}

.row-margin-fix {

  .wpb_content_element {
    margin: 0 !important;
  }
}

.align-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}



// advanced custom fields forside
.aoc-wrap {
  margin: 50px 0 100px 0;

  .indholdskort {
    @extend .card-2;
    background-color: #fff;
    width: auto;

    &-content {
      padding: 15px;

      h2 {
        font-weight: 400;
      }
    }

    .btn {
      margin-top: 30px;
      padding: 5px 15px;
      font-size: 20px;
    }
  }
}



// ofte stillede spørgsmål accordion

.vc_tta-panels {
  background-color: #fff !important;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
  border-color: #f0f0f0;
  background-color: #fff;
  padding: 15px 0;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
  background-color: $brand-primary;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a {
  color: #fff;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {
    color: #333;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
    background-color: #fff;
}

.vc_general.vc_tta.vc_tta-accordion.vc_tta-color-grey.vc_tta-style-classic.vc_tta-shape-rounded.vc_tta-o-shape-group.vc_tta-controls-align-left {
  @extend .card-1;
}


// visual composer button - se vores priser

button.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-outline.vc_btn3-color-grey {
  background-color: transparent;
  transition: all .3s;
  padding: 10px 30px;
  color: $brand-primary !important;
  font-size: 20px;
  font-weight: normal;
  border: 1px solid $brand-primary;
}



// kontakt form

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  width: 100%;

  &:focus {
    outline: none;
  }
}

input.wpcf7-form-control.wpcf7-text {
  width: 100%;

  &:focus {
    outline: none;
  }
}

textarea.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  resize: none;

  &:focus {
    outline: none;
  }
}

input.wpcf7-form-control.wpcf7-submit {
  color: $brand-primary;
  font-size: 20px;
  font-weight: normal;
  background-color: transparent;
  transition: all .3s;
  padding: 10px 30px;
  border: 1px solid $brand-primary;
  border-radius: 5px;
}




/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .text-intro {
    padding: 0;
  }

  .aoc-wrap {
    margin: 50px 0 20px 0;

    .indholdskort {
      margin-bottom: 35px;
    }
  }



  .footer-spacer {
    margin: 75px 0;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
