footer {
  background-color: #2a2730;
  padding: 50px 15px;
  color: #fff;

  h3 {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 10px 0 25px 0;
    position: relative;

    &:after {
      content:"";
      border-bottom: 2px solid #d7d8d0;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50%;
      width: 140px;
    }
  }

  p {
    color: #d7d8d0;
    font-weight: lighter;
  }

  ul {
    padding-left: 20px;

    li {

      a {
        color: #d7d8d0;
        text-transform: uppercase;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}


// Contact form
.footer-kontaktform {

  input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid #d7d8d0;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 14px;

    &:active,
    &:focus {
      outline: 0 !important;
    }
  }

  ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #cdcdcd;
    font-weight: lighter;
    font-size: 14px;
  }


  input.wpcf7-form-control.wpcf7-submit {
    float: right;
    background-color: transparent;
    border: 1px solid #d7d8d0;
    border-radius: 5px;
    padding: 5px 15px;
  }

  span.wpcf7-not-valid-tip {
    color: #fff;
    font-size: 13px;
    display: block;
    margin: 0;
  }
}

div.wpcf7-validation-errors {
    border: none;
    float: left;
    display: block;
    padding: 0;
    width: 100%;
}
