.navbar-brand {
  margin: 0;
  padding-left: 0;
  text-transform: uppercase;
  color: #002b44 !important;
  font-weight: bold;
  font-size: 24px;

  span {
    font-weight: 400;
    font-size: 18px;
    padding-left: 5px;
  }
}

.navbar-default {
  background-color: #fff;
  border: none;
  margin: 0;
  padding: 30px 0 15px 0;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);

  .navbar-nav {

    .active a {
      background-color: transparent;
      color: #002b44;
      font-weight: bold;

      &:hover {
        background-color: transparent;
      }
    }

    li {
      margin-left: 15px;

      a {
        color: #444;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.3px;
      }
    }
  }
}






/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .navbar-brand {

    span {
      font-weight: 400;
      font-size: 18px;
      padding: 0;
      display: block;
    }
  }

  .navbar-default {
    padding: 0px 15px 15px 15px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
